@import "./styles/variables.css";

@import "./styles/cards.css";
@import "./styles/main.css";

* {
  margin: 0;
  padding: 0;
}

html {
  height: 100%;
  width: 100%;
}

.attribution {
  margin: 20px;
  font-family: var(--font-lexend-deca);
}